<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mpco.DEVONthinkProSearch</string>
	<key>connections</key>
	<dict>
		<key>23253F9B-2A9D-45AE-A8FA-4CF8E6FE54BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A38576-ABC5-4202-BC67-0921672A8568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7CBFA98-7135-4918-9F96-C7E039CE2C34</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open with DEVONthink</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72C81C8A-AD3A-4675-A407-B01AD86F0592</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C6E00CBA-534C-4419-B0DD-BC5C514547F8</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy Markdown Link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D684BD7-1242-42F0-8AA4-C968A5285FD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>463F4584-47AD-4B3E-B822-3D194043A268</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47CC5D06-A175-47C9-A53A-5D24BC92CD4A</key>
		<array/>
		<key>51C8A684-A86B-4B87-B4F7-3EF8BF3E4681</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD00A4FC-B807-4081-8AB4-9AEAC5EC2525</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>767258F7-DFCA-46E9-B4FB-99E8B49E7A3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F904A209-781E-466D-9D44-734E14812CC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C14689F-1120-4E3C-9F18-CAF004A01508</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14E972F8-F5D6-48D5-A7F9-C51A25612D37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>906ADF41-40AD-4C44-A872-DA6D4A3FDA39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7CBFA98-7135-4918-9F96-C7E039CE2C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EEF7907-7DA3-4BE4-96A7-8A961EB449BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F904A209-781E-466D-9D44-734E14812CC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>51C8A684-A86B-4B87-B4F7-3EF8BF3E4681</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Press Enter to list all Tags in the database</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F781EE2B-548D-4744-8E2B-8847C74E35F3</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Press Enter to list all SmartGroups in the database</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF865B9C-F658-4400-B041-6F7296568A95</key>
		<array/>
		<key>D6ABA7EA-3611-44D1-9507-5160C1033D88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF865B9C-F658-4400-B041-6F7296568A95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47CC5D06-A175-47C9-A53A-5D24BC92CD4A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>In new window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F781EE2B-548D-4744-8E2B-8847C74E35F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7CBFA98-7135-4918-9F96-C7E039CE2C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F904A209-781E-466D-9D44-734E14812CC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF865B9C-F658-4400-B041-6F7296568A95</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1A38576-ABC5-4202-BC67-0921672A8568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7CBFA98-7135-4918-9F96-C7E039CE2C34</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open with DEVONthink</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72C81C8A-AD3A-4675-A407-B01AD86F0592</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal in DEVONthink</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C6E00CBA-534C-4419-B0DD-BC5C514547F8</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy Markdown Link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD00A4FC-B807-4081-8AB4-9AEAC5EC2525</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A38576-ABC5-4202-BC67-0921672A8568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7CBFA98-7135-4918-9F96-C7E039CE2C34</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open with DEVONthink</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72C81C8A-AD3A-4675-A407-B01AD86F0592</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C6E00CBA-534C-4419-B0DD-BC5C514547F8</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy Markdown Link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Charles Ma</string>
	<key>description</key>
	<string>Powerful tool for searching in DEVONthink 3</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DEVONthink Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>70</integer>
				<key>script</key>
				<string>queryStr=$(echo -n "$1" | perl -CIOED -p -e 's/(\p{Block=CJK_Unified_Ideographs}+)/ ~\1 /g')
open "x-devonthink://search?query=${queryStr}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF865B9C-F658-4400-B041-6F7296568A95</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	set theQuery to item 1 of argv
	set theNewQuery to (do shell script "echo '" &amp; theQuery &amp; "' | perl -CIOED -p -e 's/(\\p{Block=CJK_Unified_Ideographs}+)/ ~\\1 /g'")
	tell application "DEVONthink 3" to activate
	tell application "System Events" to tell process "DEVONthink 3"
		keystroke "n" using {command down, option down} -- open new window
		set focused of text field 1 of group 3 of toolbar 1 of window 1 to true -- focus on search field
		set value of text field 1 of group 3 of toolbar 1 of window 1 to theNewQuery
		delay 0.1
		keystroke return
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47CC5D06-A175-47C9-A53A-5D24BC92CD4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dnts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search in DEVONthink Window</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6ABA7EA-3611-44D1-9507-5160C1033D88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>dnt </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>767258F7-DFCA-46E9-B4FB-99E8B49E7A3F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C1A38576-ABC5-4202-BC67-0921672A8568</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dnt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching…</string>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript search.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>Search in DEVONthink 3</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F904A209-781E-466D-9D44-734E14812CC4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>dnd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript getDbList.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Choose Database to Search in</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EEF7907-7DA3-4BE4-96A7-8A961EB449BA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
    var query = argv[0];
    const DNt = Application('DEVONthink 3');
	DNt.activate()
    DNt.openWindowFor({ record: DNt.getRecordWithUuid(query) })
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C7CBFA98-7135-4918-9F96-C7E039CE2C34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>macOSVersion=$(sw_vers -productVersion | cut -d '.' -f 1,2)

function version { echo "$@" | awk -F. '{ printf("%d%03d%03d%03d\n", $1,$2,$3,$4); }'; }

if [ $(version $macOSVersion) -lt $(version "12.3") ]; then
    /usr/bin/python getRecordListByTags.py "selectedTag"
else
    /usr/bin/python3 getRecordListByTags.py "selectedTag"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>List all Records with the Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD00A4FC-B807-4081-8AB4-9AEAC5EC2525</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>macOSVersion=$(sw_vers -productVersion | cut -d '.' -f 1,2)

function version { echo "$@" | awk -F. '{ printf("%d%03d%03d%03d\n", $1,$2,$3,$4); }'; }

if [ $(version $macOSVersion) -lt $(version "12.3") ]; then
    /usr/bin/python getTagsList.py
else
    /usr/bin/python3 getTagsList.py
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>getTagsList.py</string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>List all Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51C8A684-A86B-4B87-B4F7-3EF8BF3E4681</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dnm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python getRecordListByTags.py "inputTags" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search by Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>23253F9B-2A9D-45AE-A8FA-4CF8E6FE54BF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># $1: uuid
open "x-devonthink-item://${1}?reveal=1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72C81C8A-AD3A-4675-A407-B01AD86F0592</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dnsg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/osascript -l JavaScript getSmartGroupList.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>List Smart Group</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F781EE2B-548D-4744-8E2B-8847C74E35F3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C6E00CBA-534C-4419-B0DD-BC5C514547F8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dnf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>macOSVersion=$(sw_vers -productVersion | cut -d '.' -f 1,2)

function version { echo "$@" | awk -F. '{ printf("%d%03d%03d%03d\n", $1,$2,$3,$4); }'; }

if [ $(version $macOSVersion) -lt $(version "12.3") ]; then
    /usr/bin/python getFavorites.py
else
    /usr/bin/python3 getFavorites.py
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List Favorites</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>906ADF41-40AD-4C44-A872-DA6D4A3FDA39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	set theQuery to "{query}"
	tell application "DEVONthink 3"
		load workspace theQuery
		activate
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14E972F8-F5D6-48D5-A7F9-C51A25612D37</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dnw</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>macOSVersion=$(sw_vers -productVersion | cut -d '.' -f 1,2)

function version { echo "$@" | awk -F. '{ printf("%d%03d%03d%03d\n", $1,$2,$3,$4); }'; }

if [ $(version $macOSVersion) -lt $(version "12.3") ]; then
    /usr/bin/python workspace.py
else
    /usr/bin/python3 workspace.py
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Load Workspace</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C14689F-1120-4E3C-9F18-CAF004A01508</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dnwa</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Save workspace named "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D684BD7-1242-42F0-8AA4-C968A5285FD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	set theQuery to "{query}"
	tell application "DEVONthink 3"
		save workspace theQuery
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>463F4584-47AD-4B3E-B822-3D194043A268</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14E972F8-F5D6-48D5-A7F9-C51A25612D37</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>965</integer>
		</dict>
		<key>23253F9B-2A9D-45AE-A8FA-4CF8E6FE54BF</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>2D684BD7-1242-42F0-8AA4-C968A5285FD5</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1105</integer>
		</dict>
		<key>463F4584-47AD-4B3E-B822-3D194043A268</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>1105</integer>
		</dict>
		<key>47CC5D06-A175-47C9-A53A-5D24BC92CD4A</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>51C8A684-A86B-4B87-B4F7-3EF8BF3E4681</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>72C81C8A-AD3A-4675-A407-B01AD86F0592</key>
		<dict>
			<key>note</key>
			<string>Reveal in DEVONthink</string>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>767258F7-DFCA-46E9-B4FB-99E8B49E7A3F</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>8C14689F-1120-4E3C-9F18-CAF004A01508</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>965</integer>
		</dict>
		<key>906ADF41-40AD-4C44-A872-DA6D4A3FDA39</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>9EEF7907-7DA3-4BE4-96A7-8A961EB449BA</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>BF865B9C-F658-4400-B041-6F7296568A95</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>C1A38576-ABC5-4202-BC67-0921672A8568</key>
		<dict>
			<key>note</key>
			<string>Open With External Editor</string>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>C6E00CBA-534C-4419-B0DD-BC5C514547F8</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>C7CBFA98-7135-4918-9F96-C7E039CE2C34</key>
		<dict>
			<key>note</key>
			<string>Open with DEVONthink</string>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>D6ABA7EA-3611-44D1-9507-5160C1033D88</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>F781EE2B-548D-4744-8E2B-8847C74E35F3</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>F904A209-781E-466D-9D44-734E14812CC4</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>FD00A4FC-B807-4081-8AB4-9AEAC5EC2525</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>filterOutGroup</key>
		<string></string>
		<key>ignoredDbUuidList</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>ignoredDbUuidList</string>
		<string>filterOutGroup</string>
	</array>
	<key>version</key>
	<string>7.6</string>
	<key>webaddress</key>
	<string>https://github.com/mpco/AlfredWorkflow-DEVONthink-Search</string>
</dict>
</plist>
